<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 


</head>
<body> -->
<!-- </body>
</html> -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Weather alerts</a></li>
                    <li><a href="#">Updates</a></li>
                    <li><a href="#">Glosary</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Outdoor Essentials</h4>
                <ul>
                    <li><a href="#">Rain Gear</a></li>
                    <li><a href="#">Sun Protection</a></li>
                    <li><a href="#">Hiking Equipment</a></li>
                    <li><a href="#">Cold Weather Apparel</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
    
